/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
    --specialHeading-color:#ebeced;
  }
  /* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
    /* more then 768px width will take 750px */
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  @media (max-width : 767px){
             .special-heading{
              font-size: 60px;
             }
             .special-heading + p{
                margin-top: -20px;
             }
  }
  /* End Global Rules */
  /*start special heading */
  .special-heading{
      font-size: 100px;
      color:var(--specialHeading-color); 
      text-align: center;
      letter-spacing: -3px;
      margin: 0;
      font-weight: 800;

  }
  .special-heading + p{
     margin:-30px 0 0; /* top right bottonm left */
     font-size: 20px;
     text-align: center;
    }
  
  
  /*end special heading */
  /* start header*/
  .header{
    padding: 20px;
  }
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap; /* if no width yahbat lta7t */
    justify-content: flex-end;

}
.header .links .icon span{
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links:hover .icon span:nth-child(2):hover{
    width: 100%;
   
}
.header .links:hover .icon{
    cursor: pointer;
} 
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    top: calc(100% + 20px);
    display:none;
    border-radius: 2px ;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    z-index: 9999;
}

.header .links ul::before{
     content: "";
     position: absolute;
     top: -19px;
     right: 5px;
     border: 10px solid;
     border-color: transparent transparent #f6f6f6 transparent ;
}
.header .links ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header .links ul li a:hover{
  padding-left: 25px;   
}
/* start landing */
.landing{
     background-image: url(../images/landing.jpg);
     background-size: cover;
     height: calc(100vh - 64px); /* 64px for header*/
     position: relative;
  

}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%; /*if (width < 320) then width = 320px   + paragraphe mayatmadadch*/
}
.landing .intro-text  h1{
    margin: 0; /* eliminate the scroll*/
    color : var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.landing .intro-text .p {
    line-height: 1.8;
    font-size: 19px;
}
/* end landing  */
/* start features */
    .features{
      padding-top: 60px; 
      padding-bottom: 60px; 
      background-color: #f6f6f6;
    }
 .features .container{
       display: grid;
       grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
       gap: 20px;
    }
    .features .container .feat{
     padding: 20px;
     text-align: center;
    }  
    .features .feat i {
      color: var(--main-color);
      font-size: 28px;
    }
    .features .container .feat h3{
       font-weight: 800; /*extra bold*/
    }
    .features .container .feat p{
        line-height: 1.8;
        font-size: 17px;
        color: #777;
    }
/* end features */
/* start services  */
    .services{
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .services .services-content{
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
      gap: 30px;
      margin-top: 100px;
    }
    .services .services-content .srv{
      display: flex;
      margin-bottom: 40px;
    }  
    @media (max-width : 767px){
      .services .services-content .srv {
        flex-direction: column; /* inside the srv box on mobile device */
        text-align: center;
      }
    }  
    
/* end services  */















